<div class=" content_center">
  <div class="outer">
    <div class="inner">
    </div>
    <%= render 'form', post: @post %>
    <%= link_to '취소', posts_path, {:class => "btn btn-lg button btn-danger"} %>
  </div>
</div>
