<div class=" content_center">
  <div class="content_thankyou">

    <span id="message">
      감사합니다!</br>등록이 완료되었습니다.
      <br><br><br><br><br>
    </span>
    <%= link_to '처음으로 돌아가기', posts_path, {:class => "btn btn-lg button btn-success"} %>
  </div>
</div>
